body {
    background: #222222;
    color: #ffffff;
}

#button_bar * {
    flex-direction: row;
}

#preview_image {
    max-width: 640px;
    max-height: 400px;
}

#image_bytes {
    font-family: "Source Code Pro";
}
